<h1>Just another {{buzzersToGo}} buzzers to go! </h1>

<app-perc-circle></app-perc-circle>

<div class="info_statistis">
<div class="info_unit" style="margin-right: 100px;"> <p> today</p>
    <p> {{buzzersToday}}</p>
    <p> buzzer clicks</p></div>


    <div class="info_unit"> <p> this week</p>
        <p> {{buzzersWeek}}</p>
        <p> buzzer clicks</p></div>

        <div class="info_unit" style="margin-left: 100px;"> <p> All time</p>
            <p> {{buzzerGeneral}}</p>
            <p> buzzer clicks</p></div>

</div>
